{% extends 'base.html' %} 
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM About</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<div class="container">
    <form action="">
        <div class="mb-3">
            <div id="contenido">
                <h1>¿Quienes somos?</h1>
                <p>CRM is an intelligent assistant designed to enhance customer relationship management in a travel agency. This system utilizes artificial intelligence to analyze and comprehend customer behavior patterns, product preferences, and sales dynamics. CRM interprets relevant data and transforms it into recommendations sent directly to CRM personnel. In this way, it integrates into the work team to provide highly personalized experiences and proactively improve user interaction strategies, resulting in a significant performance boost and increased customer satisfaction.</p>
            </div>
        </div>
    </div>    
    </div>
    <br/>
    <br /> 
    <br /> 
</div>

{% endblock content %}