{% extends 'base.html' %} 
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM Elevator Pitch</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<div class="container">
    <form action="">
        <div class="mb-3">
            <div id="contenido">
                <h1>Elevator Pitch</h1>
                <p>¡Bienvenido al futuro de la gestión de relaciones con clientes en agencias de viajes con CRM! Este revolucionario asistente inteligente aprovecha la inteligencia artificial para sumergirse en los datos de tus clientes, comprendiendo sus patrones de comportamiento y preferencias en productos. ¿El resultado? Recomendaciones precisas que se envían directamente a tu equipo de CRM.</p>

                <p>Imagina un mundo donde cada interacción con el cliente se convierte en una experiencia altamente personalizada. Con CRM, integramos de manera perfecta la inteligencia artificial en tu equipo de trabajo, permitiendo una toma de decisiones más rápida y estratégica. Este asistente no solo interpreta datos relevantes, sino que también mejora proactivamente las estrategias de interacción con el usuario.</p>
                
                <p>¿El impacto? Un rendimiento notablemente elevado y una satisfacción del cliente que alcanza nuevos niveles. CRM no solo optimiza la eficiencia operativa, sino que también impulsa la lealtad del cliente al ofrecer servicios adaptados a sus necesidades específicas.</p>
                
                <p>¡Es hora de dejar atrás las soluciones convencionales y abrazar la era de CRM! Transforma tu agencia de viajes, adopta la inteligencia artificial y experimenta un cambio radical en la forma en que te conectas con tus clientes. ¡Eleva tu servicio y lleva tu agencia de viajes hacia nuevos horizontes de éxito con VirtuosoCRM!</p>
            </div>
        </div>
    </div>    
    </div>
    <br/>
    <br /> 
    <br /> 
</div>

{% endblock content %}
