{% extends 'base.html' %} 
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtuosoCRM - Página Principal</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        /* Estilos para el modo claro */
        .modo-claro h1,
        .modo-claro h2,
        .modo-claro p {
            font-family: 'Montserrat', sans-serif;
            color: #333; /* Cambiar el color del texto en modo claro */
        }
        
        body {
            background-color: #ffffff; /* Cambiar el color de fondo del cuerpo del documento a blanco */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="main-content">
            <h1>Bienvenido a CRM</h1>
            <p class="lead">Descubre destinos, conquista clientes.</p> <!-- Cambiar el texto del párrafo -->
            <p style="text-align: center;">Software de soporte al cliente para cualquier empresa, de cualquier tamaño</p> <!-- Nuevo párrafo centrado -->
        </div>
    </div>
</body>
</html>

{% endblock content %}
